{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "mywebapp.fullname" . }}-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-staging"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  {{- if and .Values.ingress.tls.enabled .Values.ingress.host }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
  {{- if .Values.ingress.host }}
    - host: {{ .Values.ingress.host }}
      http:
        paths:
  {{- else }}
    - http:
        paths:
  {{- end }}
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: {{ include "mywebapp.fullname" . }}-svc
                port:
                  number: {{ .Values.service.port }}
{{- end }}
